.header-section {
  padding: 30px 0 0 0;

  color: $app-color-black;

  line-height: 1.1;

  &__container {
    padding-top: 18%;

    background-image: url("../assets/az.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 71% auto;
  }

  &__row {
    position: relative;
    z-index: 110;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    padding-top: 50px;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    width: 800px;
    max-width: 90%;
    padding-right: 30px;
  }

    &__buttons {
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 30px;

        background: #fff;
    }

    &__spacer {
        width: 100%;
    }

    &__vk {
        position: relative;

        width: 100%;

        text-align: center;
    }
}

.hero {
  position: relative;

  transform: rotate(-20deg) translate(55px);
  animation: rotating 3s ease-in-out infinite;

  @include media-breakpoint-down(lg) {
    transform: none;
    animation: none;
  }
  @include media-breakpoint-up(xl) {
    &:before {
      position: absolute;
      z-index: -1;
      top: -60px;
      left: 50%;

      width: 2px;
      height: 80px;

      content: '';

      background-color: $app-color-black;
    }
  }

  &__img {
    width: 100%;
    max-width: 180px;
  }

  &:nth-child(1) {
    &:before {
      left: 45%;
    }
  }

  &:nth-child(2) {
    &:before {
      left: 60%;
    }
  }

  &:nth-child(4) {
    &:before {
      left: 55%;
    }
  }
}

.concert-link {
    margin-bottom: 15px;
    padding: 5px;

    text-align: center;
    text-transform: uppercase;

    font-family: Rubik, sans-serif;
    line-height: 1.1;
    &.cosmo {
        order: 1;

        @include media-breakpoint-down(sm) {
            order: 2;
        }
    }
    &.gorby {
        order: 3;
    }
    .city {
        margin-bottom: 5px;

        font-size: 30px;
    }
    .date {
        padding: 10px 30px 0 30px;

        color: #fff;

        font-family: Cuprum, sans-serif;
        font-size: 40px;
    }
    .place {
        margin: 3px 0;

        color: #fff;

        font-size: 18px;
    }
    .link {
        display: block;

        margin: 10px auto;
        padding: 10px;

        cursor: pointer;
        text-align: center;
        text-decoration: none;

        color: #ff4a5c;
        border: none;
        background: #fff;

        font-family: Rubik, sans-serif;
        font-size: 22px;
        font-weight: bold;
    }
}
.vote {
    order: 2;

    margin-bottom: 15px;

    text-align: center;

    @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        order: 1;
    }
    a {
        display: inline-block;

        margin: 0 auto;
        padding: 10px 25px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;

        font-size: 30px;
    }
}
.vk-music {
    position: absolute;
    top: 10px;
    left: 0;

    width: 110px;
    img {
        width: 100%;
        height: auto;
    }
}
.nashe-radio {
    position: absolute;
    right: 0;
    bottom: 0;
    img {
        width: auto;
        height: 80px;
    }
}
.vk-concerts {
    display: inline-block;

    margin: 0 110px;
    padding: 10px 25px;

    text-transform: uppercase;

    color: #fff;

    font-size: 30px;

    @include media-breakpoint-down(sm) {
        margin: 0 10px;
    }
}

.header-background-image {
  margin-bottom: -260px;

  @include media-breakpoint-down(sm) {
      margin-bottom: -100px;
  }  
}

.header-background-image img {
  position: relative;
  top: -50px;

  width: 100%;

  @include media-breakpoint-down(sm) {
      top: -20px;
  }
}

@keyframes rotating {
  50% {
    transform: rotate(+20deg) translate(-55px);
  }
}
