.header-section {
  position: relative;
  overflow: hidden;
  padding: 30px 0;
  color: $app-color-black;

  &__container {
    background-image: url("../assets/az.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 58% auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;

    @include media-breakpoint-down(sm) {
      margin-top: 23%;
    }
  }

  &__men {
    max-width: 150%;
    max-height: 600px;
    padding-left: 30px;
  }
}
