.header-section {
  padding: 30px 0;
  color: $app-color-black;

  &__container {
    background-image: url("../assets/az.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 71% auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18%;
  }

  &__logo {
    padding-right: 30px;
    width: 800px;
    max-width: 90%;
  }
}

.hero {
  position: relative;
  transform: rotate(-20deg) translate(55px);
  animation: rotating 3s ease-in-out infinite;

  @include media-breakpoint-down(lg) {
    transform: none;
    animation: none;
  }

  @include media-breakpoint-up(xl) {
    &:before {
      position: absolute;
      z-index: -1;
      top: -60px;
      left: 50%;
      width: 2px;
      height: 80px;
      content: '';
      background-color: $app-color-black;
    }
  }

  &__img {
    width: 100%;
    max-width: 180px;
  }

  &:nth-child(1) {
    &:before {
      left: 45%;
    }
  }

  &:nth-child(2) {
    &:before {
      left: 60%;
    }
  }

  &:nth-child(4) {
    &:before {
      left: 55%;
    }
  }
}

@keyframes rotating {
  50% {
    transform: rotate(+20deg) translate(-55px);
  }
}
