$img-height: 230px;

.chart {
  &__column {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin: 15px 0;
    }
  }
}

.shag,
.shag-rem {
  &__img {
    height: $img-height;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    a + a {
      margin-left: 15px;
    }
  }
}

.chartova-10 {
  &__button {
    font-size: 12px;
  }

  &__img {
    display: flex;
    align-items: center;
    height: $img-height;
    margin-bottom: 13px;
  }
}
