$img-height: 230px;

.b-chart {
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  .row > div {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin: 15px 0;
    }
  }

  .b-shag,
  .b-shag-rem {
    &__img {
      height: $img-height;
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      a + a {
        margin-left: 15px;
      }
    }
  }

  .b-chartova-10 {
    a {
      font-size: 12px;
    }

    &__img {
      display: flex;
      align-items: center;
      height: $img-height;
      margin-bottom: 13px;
    }
  }
}
