*,
a {
  outline: none;
  font-weight: inherit;
}

.align-center {
  align-items: center;
}

.hidden-xs-down {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}

.justify-center {
  justify-content: center;
}

.relative {
  position: relative;
}