* {
  color: inherit;
  font-weight: inherit;
  outline: none;
}

.-hidden-xs-down {
  @include media-breakpoint-down(xs) {
    display: none!important;
  }
}

.-align-center {
  align-items: center;
}

.-justify-center {
  justify-content: center;
}

.-surface {
  position: relative;

  &:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    cursor: pointer;
    pointer-events: none;
    background-color: rgba($app-color-grey-light-rgba, .1);
  }
}

.-relative {
  position: relative;
}
