.contacts {
  margin-bottom: 50px;

  &__item {
    height: 80px;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
